<!DOCTYPE html>
<html>

<head>
    <title>
        app
    </title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css"
</head>

<body>
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z" />
            </svg>
            <span class="font-semibold text-xl tracking-tight">App</span>
        </div>
        <div class="block lg:hidden">
            <button
                class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
                <a href="#responsive-header"
                    class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    About
                </a>
                <a href="#responsive-header"
                    class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                    Contact us
                </a>
                <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                    Login
                </a>
            </div>
            <div>
                <a href="#"
                    class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Register</a>
            </div>
        </div>
    </nav>
    <main>
        <div>
            <div class="login">
                <div class="teacher card-login">
                    <a href="#" class="btn">Teacher</a>
                    
                </div>
                <div class="student card-login">
                    <a href="#" class="btn">Student</a>
                    
                </div>
            </div>
        </div>
        <div id="card">
            <div class="header">
              <h1>From house of WebXdev</h1>
              <h1></h1>
          
              <p>Our App helps  students and teachers a lot in their curriculum and enhance the knowledge.</p>
            </div>
            <div class="row1-container">
              <div class="box box-down cyan">
                <h2>Tracker</h2>
                <p>Tracks your progress on day wise basis.</p>
                <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
              </div>
          
              <div class="box red">
                <h2>Test Center</h2>
                <p>All your test and adsignments at a single place.</p>
                <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
              </div>
          
              <div class="box box-down blue">
                <h2>Record Manager</h2>
                <p>Manages all your records at a single place.</p>
                <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
              </div>
            </div>
            <div class="row2-container">
              <div class="box orange">
                <h2>Quiz</h2>
                <p>Quiz feature allows you to practise more and enhance your skills.</p>
                <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
              </div>
            </div>
          </div>
    </main>

    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>
</body>

</html>